<body>

    <h1>Você está visualizando o registro: {{envio.id }}<h1>
    
        <form action="{% url 'update_envio' envio.id %}" method="POST">
            {% csrf_token %}
            <h5> Destinatario: <input type="text" name="destinatario" value="{{envio.destinatario}}"> </h5>
            <h5> Remetente: <input type="text" name="remetente" value="{{envio.remetente}}"> </h5>
            <h5> Rastreio: <input type="text" name="rastreio" value="{{envio.rastreio}}" required> </h5>
            <h5> CEP: <input type="text" name="cep" value="{{envio.cep}}"> </h5>

            <h5> Departamento: <select name="departamento"></h5>
                <option value="{{envio.departamento}}" selected enabled hidden> {{envio.departamento}} </option>
                {% for deps in dep %}
                    <option value="{{deps.departamento}}">{{deps.departamento}} </option>
                {% endfor %}
            </select>

            <h5> Servico: <input type="text" name="servico" value="{{envio.servico}}"> </h5>
            <h5> Código de Postagem: <input type="text" name="postagem" value="{{envio.postagem}}"> </h5>


            <h6> Data da ultima atualização: {{envio.data_att }} </h6>
            <button type="submit">Atualizar</button>

            <h3> Deseja excluir esse registro? </h3>
            <a href="{% url 'delete_envio' envio.id %}">Deletar</a>
        </form>
    
    

</body>