{% extends 'base.html' %}
{% block body %}

<hr style="border-top:1px solid #000; clear:both;"/>
<table id="table" class="table table-bordered" style="margin-left:auto; margin-right:auto">
    <thead class="alert-warning">
        <tr>
            <th>Destinatário</th>
            <th>Rastreio</th>
            <th>Remetente</th>
            <th>Data do registro</th>
            <th>Data de Atualização</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
    </thead>
    <tbody>
        {% for dado in bd %}
        <tr>
            <td>{{dado.destinatario}}</td>
            <td>{{dado.rastreio}}</td>
            <td>{{dado.remetente}}</td>
            <td>{{dado.data}}</td>
            <td>{{dado.data_att}}</td>
            <td><a href="{% url 'editar_envio' dado.id %}">Editar</a> </td>
            <td><a href="{% url 'delete_envio' dado.id %}">Deletar</a> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}