<body>
    <h1>Listagem Códigos de Postagem</h1>
    {% for posts in post  %}
        <li> ID: {{ posts.id }}, Departamento: {{posts.departamento}}, Servico: {{posts.servico}}, Código de Postagem: {{posts.postagem}} 
        <a href="{% url 'editar_cadastro_postagem' posts.id %}">Editar</a> 
        </li>
    {% endfor %}
    <br/>

    <h2>Realizar um novo cadastro? </h2>

    
    <form action="{% url 'salvar_cadastro_postagem' %}" method="POST">
        {% csrf_token %}

        <h4>Departamento: <select name="departamento"></h4>
            {% for deps in dep %}
                <option value="{{deps.departamento}}"> {{deps.departamento}} </option>
            {% endfor %}
            </select>

        <h4>Serviço: <select name="servico"></h4>
            {% for servs in serv %}
                <option value="{{servs.servico}}"> {{servs.servico}} </option>
            {% endfor %}
            </select>

        <h4>Código de Postagem: <input type="text" name="postagem"></h4>
        <button type="submit">Salvar</button>
    </form>
</body>