{% extends 'base_beneficios.html' %}
{% block body %}

<hr style="border-top:1px solid #000; clear:both;"/>
<table id="table" class="table table-bordered" style="margin-left:auto; margin-right:auto">
    <thead class="alert-warning">
        <tr>
            <th>Colaborador</th>
            <th>ID</th>
            <th>Vale Transporte</th>
            <th>Vale Alimentação</th>
            <th>Saúde</th>
            <th>Brinde</th>
            <th>Data do recebimento</th>
            <th>Status</th>
            <th>Detalhes</th>
        </tr>
    </thead>
    
    <tbody>
        {% for dado in bd %}
        <tr>
            <td>{{dado.nome}}</td>
            <td>{{dado.id_colaborador}}</td>
            <td>{{dado.vt}}</td>
            <td>{{dado.va}}</td>
            <td>{{dado.saude}}</td>
            <td>{{dado.brinde}}</td>
            <td>{{dado.data_recebimento}}</td>
            <td>{{dado.status}}</td>
            <td><a href="{% url 'editar_beneficio' dado.id %}">Detalhes</a> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}