{% extends 'base_recebimento.html' %}
{% block body %}

<hr style="border-top:1px solid #000; clear:both;"/>
<table id="table" class="table table-bordered" style="margin-left:auto; margin-right:auto">
    <thead class="alert-warning">
        <tr>
            <th>Destinatário</th>
            <th>Remetente</th>
            <th>CEP Remetente</th>
            <th>Rastreio</th>
            <th>Departamento</th>
            <th>Status</th>
            <th>Data do registro</th>
            <th>Detalhes</th>
        </tr>
    </thead>
    
    <tbody>
        {% for dado in recibos %}
        <tr>
            <td>{{dado.destinatario}}</td>
            <td>{{dado.remetente}}</td>
            <td>{{dado.cep_remetente}}</td>
            <td>{{dado.rastreio}}</td>
            <td>{{dado.departamento}}</td>
            <td>{{dado.status}}</td>
            <td>{{dado.data_recebimento}}</td>
            <td><a href="{% url 'detalhe_recebimento' dado.id %}">Detalhes</a> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}